body{
    background-color: aqua;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Handjet', cursive;
}





.calculator-body{
    width:33%;
    height:90%;
    flex:0 1 auto;
    display:flex;
    flex-direction: column;
    
} 


.answer-display{
    background-color:rgb(185, 125, 172);
    flex:1 2 0;
    font-size: 6.5em;
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    padding:20px 40px;
    color:rgb(17, 43, 54);
}

.clear{
    font-size:1.8em;
}

.main{
    background-color: rgb(155, 48, 66);
    flex:2 1 0;
    display:flex;
    flex-direction:column;
    padding:16px 16px;
}
.operators{
    flex-grow:1;
    display:flex;
    justify-content: space-between;

}

.operators > button{
    flex:1 1 auto;
}



.nums-and-equals{
    flex-grow:5;
    display:flex;
}

.equals-container{
    flex-grow:1.5;
    display: flex;
    justify-content: center;
    background-color:blueviolet;
    min-width:100px;
}
.nums{
    flex-grow:1.5;
    background-color:darkslategray;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.nums > button{
    flex:1 0 30%;
    min-width:110px;
}

.equals-button{
    width:100%;
   
}







button{
    background-color:rgb(49, 145, 30);
    border:1px solid rgb(167, 127, 127);
    font-size:2.5em;

}